:root {
	/*variable*/
	--radius-angle: 80%;

}

[data-theme="dark"]{
	--color-main-background: #3a3a3a;
}

[data-theme="light"]{
	--color-main-background: #f9f9f9;
}

body {
    background-color: var(--color-main-background);
}

.red{
	background-color: rgb(156, 0, 0);
	width: 90vw;
	height: 80vh;
}
